<template>
	<li class="box listing-item" :class="data.customer.id == 7333 ? 'box--light-orange' : 'box--white'" >
		<a href="#"></a>
		<h2>{{data.title}}</h2>
		<p>{{data.short_desc}}</p>
		<p>Located in {{data.location}}</p>
	</li>
</template>

<script>
	export default {
		name: 'item',
		props: ['data']
	}
</script>

<style lang="scss">

	.listing-item {
		overflow: hidden;
		position: relative;
		margin-bottom: -1px;
		transition: background-color .4s;

		&:hover {
			background-color: transparent;
		}

		&.box--light-orange {
			padding-right: 75px;
		}

		a {
			display: block;
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			z-index: 2;
		}
	}

	h2 {
		margin: 0 0 5px;
		font-weight: 400;
		line-height: 1.1;
		font-size: 18px;

		.box--light-orange & {
			color: #f77f00;
			padding-right: 50px;

			&::before {
				content: 'TOP VACATURE';
				background: #f77f00;
				color: #fff;
				font-size: 11px;
				position: absolute;
				right: -135px;;
				top: -60px;
				text-align: center;
				width: 250px;
				padding: 10px 0;
				font-weight: bold;
				transform: rotate(45deg);
				transform-origin: left top;
			}
		}
	}
</style>
