<template>
	<transition name="slide-fade">
		<div class="animation-wrapper" v-if="show">
		  <div class="result-list">
		    <ul>
					<item v-for="el in items" v-bind:data="el._source" :key="el._id"></item>
		    </ul>
		  </div>
		</div>
	</transition>
</template>

<script>
	import Item from '@/components/results/Item';

	export default {
	  name: 'list',
		props: ['items', 'show'],
		components: {
			'item': Item
		}
	}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
	ul {
	  list-style-type: none;
	  padding: 0;
		margin: 0;
	}

	li {
	  display: block;
	}
</style>
