<template lang="html">
	<div class="order-types">
		<div class="custom-selectbox">
			<select class="select" name="order" v-on:change="orderUpdated">
				<option v-for="option, key in options" :value="option.value" :key="key">{{option.name}}</option>
			</select>
		</div>
	</div>
</template>

<script>
export default {
	name: 'postOrder',
	props: ['onChange', 'options'],
	methods: {
		orderUpdated(e) {
			this.onChange(e.target.value)
		}
	}
}
</script>

<style lang="scss">
	.custom-selectbox {
		position: relative;

		&::after {
			font: normal normal normal 14px/1 'FontAwesome';
			text-rendering: auto;
	    -webkit-font-smoothing: antialiased;
	    -moz-osx-font-smoothing: grayscale;
			content: '\f078';
			display: block;
			position: absolute;
			right: 5px;
			top: 9px;
			z-index: 0;
		}
	}
	.select {
		appearance: none;
		display: block;
		box-sizing: border-box;
		width: 100%;
		font-size: 16px;
		line-height: 20px;
		padding: 5px 10px;
		margin-bottom: 0;
		border-radius: 1px;
		border: 1px solid #e1e1e1;
		text-transform: capitalize;
		background-color: transparent;
		position: relative;
		z-index: 2;
		outline: none;
	}
</style>
