<template>
	<div class="search-page">
		<div class="row">
			<div class="col-sm-4 col-xs-12">
				<sidebar
					v-bind:filters="filters"
					v-bind:activeFilters="activeFilters"
					v-bind:onChange="changeHandler"
					v-bind:distanceFilter="distanceFilter"
				></sidebar>
			</div>
			<div class="col-sm-8 col-xs-12">
				<view-switch v-bind:query="getFormatedQuery()"></view-switch>
				<div class="box box--white">
					<div class="flex-layout">
						<div class="row">
							<div class="col-sm-9">
								<keyword-filter v-bind:onSubmit="filterByTitle"></keyword-filter>
							</div>
							<div class="col-sm-3">
								<post-order v-bind:onChange="reorderPosts" v-bind:options="orderTypes"></post-order>
							</div>
						</div>
					</div>
					<active-filters v-bind:activeFilters="activeFilters" v-bind:onChange="changeHandler" v-bind:reset="resetFilters" v-bind:saved="searchSaved" v-bind:onSave="updateSavedState"></active-filters>
				</div>
				<router-view v-bind:items="fetchedData" v-bind:show="show"></router-view>
			</div>
		</div>
	</div>
</template>

<script>
	import Router from 'vue-router';

	import resultData from '@/assets/results';
	import Sidebar from '@/components/Sidebar';
	import PostOrder from '@/components/PostOrder';
	import ViewSwitch from '@/components/ViewSwitch';
	import ActiveFilters from '@/components/filters/ActiveFilters';
	import KeyWordFilter from '@/components/filters/KeyWordFilter';


	export default {
	  name: 'searchPage',
		components: {
			'sidebar': Sidebar,
			'active-filters': ActiveFilters,
			'keyword-filter': KeyWordFilter,
			'post-order': PostOrder,
			'view-switch': ViewSwitch
		},
		methods: {
			/**
			 * getFilterGroups creates Filters based on what filters are applied
			 * to the current queue of posts
			 *
			 * @return groups {Object} containing all the filters sorted by key
			 */
			getFilterGroups() {
				const availableGroups = ['functions', 'job_types'];
				const self = this;
				let groups = {};
				let included = [];
				let data = this.fetchedData ? this.fetchedData : resultData;

				data.map((post) => {
					availableGroups.map((type) => {
						if (post._source[type] == 'undefined') {
							return false;
						}

						if (groups[type] == undefined) {
							groups[type] = [];
						}

						post._source[type].map((obj) => {
							if (!included.includes(obj.id)) {
								let newObj = {
									id: obj.id,
									count: self.countPostByCategory(type, obj.id),
									name: obj.name
								}
								groups[type].push(newObj);
								included.push(obj.id);
							}
						})
					})
				})

				return groups;
			},

			/**
			 * getFilterGroupByType filters the result list by type
			 *
			 * @param type {String}  object key to be searched in the results by
			 * @return type {Object} returns an object with the key passed in
			 * 											and filtered results
			 */
			getFilterGroupByType(type) {
				let group = {};

				resultData.map((post) => {
					if (post._source[type] == 'undefined') {
						return false;
					}

					if (group[type] == undefined) {
						group[type] = [];
					}

					post._source[type].map((obj) => {
						if (!group[type].includes(obj.id)) {
							group[type].push(obj.id);
						}
					})
				})

				return group;
			},

			/**
			 * getFilteredResults filters current cue of data based on
			 * the applied filters
			 *
			 * @return newResult {Array}  an array of filtered posts
			 */
			getFilteredResults() {
				let newResult = [];
				let returnAll = true;

				// check if need to filter the posts at all
				for (let key in this.activeFilters) {
					returnAll = this.activeFilters[key].length === 0 ? true : false;
				}

				// stop here no filters applied
				if (returnAll) return resultData;

				// filter existing data
				resultData.map((post) => {
					let includeItem = false;

					for (let key in this.activeFilters) {
						post._source[key].map((category) => {
							// Check if the post is already on the included list
							if (includeItem) {
								return false;
							}
							this.activeFilters[key].map((filter) => {
								if (filter.id == category.id && !includeItem) {
									includeItem = true;
								}
							})
						});
					}

					if (includeItem) newResult.push(post);
				});
				return newResult;
			},

			/**
			 *
			 */
			countPostByCategory(type, catId) {
				let count = 0;
				let data = this.fetchedData ? this.fetchedData : resultData;

				data.map((post) => {
					post._source[type].map((cat) => {
						if(cat.id == catId) count++
					})
				})

				return count;
			},

			/**
			 * changeHandler  callback for the filter updates
			 *
			 * @param filter {Object}  contains active filters and filter group
			 */
			changeHandler(filter) {
				let data = [];

				this.$set(this.activeFilters, filter.type, filter.appliedFilters);

				if (filter.appliedFilters.length == 0) {
					delete this.activeFilters[filter.type];
				}

				// Update content
				data = this.getFilteredResults();
				this.getFilterGroups()

				this.updateContent(data);
			},

			/**
			 * updateContent  generic function that updates the data
			 * 							content and handles the animation for it
			 *
			 * @param data {Array} array of newly filtered posts
			 */
			updateContent(data) {
				let self = this;
				this.show = false;

				this.fetchedData = data;
				this.searchSaved = false;
				this.updateRoute();

				setTimeout(() => {
					self.show = true;
				}, 600)
			},

			/**
			 * filterByTitle filter posts by keyword
			 *
			 * @param keyword {String}  the keyword posts are filtered by
			 */
			filterByTitle(keyword) {
				let data = [];

				data = this.fetchedData.filter((post) => {
					return post._source.title.toLowerCase().indexOf(keyword.toLowerCase()) > -1 ? post : '';
				})

				this.updateContent(data);
			},

			/**
			 * reorderPosts order the posts based on the requested type
			 *
			 * @param type {String} represents the type by witch the posts
			 *											are going to be ordered
			 */
			reorderPosts(type) {
				let data = this.fetchedData.slice();

				data.sort((a, b) => {
					return a.sort[type] > b.sort[type];
				})

				this.updateContent(data);
			},

			/**
			 * Reset Filters remove all active filters and show blank page
			 */
			resetFilters() {
				for (let key in this.activeFilters) {
					this.$delete(this.activeFilters, key);
				}

				// Update content
				let data = this.getFilteredResults();

				this.updateContent(data);
			},

			/**
			 * updateSavedState update saved search saved state
			 */
			updateSavedState() {
				this.searchSaved = !this.searchSaved;
			},

			/**
			 * updateRoute update the current route based on all active filters
			 */
			updateRoute(currentPath = this.$route.path) {
				let currentQuery = this.getFormatedQuery();

				this.$router.push({path: currentPath, query: currentQuery});
			},

			getFormatedQuery() {
				let filters = Object.assign({}, this.activeFilters);
				let query = {};

				for (var group in filters) {
					let queryString = '';
					filters[group].map((obj, index) => {
						let prefix = ',';
						if (index == 0) prefix = '';
						queryString += prefix + obj.id;
					});
					query[group] = queryString;
				}

				console.log(query);
				return query;
			},

			convertQueryToFilters(query) {
				let filters = {};
				for (var group in query) {
					let args = query[group].split(',');
					args = args.map((argument) => {
						let id = parseInt(argument);
						return this.getCatById(group, id)
					})
					filters[group] = args;
				}

				return filters;
			},

			getCatById(type, id) {
				let category = false;

				if (category) return category;

				resultData.map((post) => {
					post._source[type].map((cat) => {
						if (cat.id == id) {
							category = {
								id: cat.id,
								name: cat.name
							}
						}
					})
				})

				return category;
			}
		},
		data() {
			let data = false;
			if (Object.keys(this.$route.query).length > 0) {
				let queryParams = this.convertQueryToFilters(this.$route.query);
				console.log(queryParams);
				this.activeFilters = queryParams;
 				data = this.getFilteredResults();
			}

			let filters = this.getFilterGroups();
			let distanceFilter = this.getFilterGroupByType('edu_types'); //job_types stands for locations
			let activeFilters = this.activeFilters ? this.activeFilters : {};
			let orderTypes = [
				{
					value: 0,
					name: 'relevance'
				}, {
					value: 2,
					name: 'date'
				}
			];

			return {
				activeFilters: activeFilters,
				filters: filters,
				distanceFilter: distanceFilter,
				fetchedData: data ? data : resultData,
				orderTypes: orderTypes,
				searchSaved: false,
				show: true
			}
		},

		watch: {
		  '$route'(to, from) {
				let data = false;

				if (Object.keys(this.$route.query).length > 0) {
					let queryParams = this.convertQueryToFilters(this.$route.query);
					this.activeFilters = queryParams;
	 				data = this.getFilteredResults();
					this.updateContent(data);
				}
		  }
		}
	}
</script>

<style lang="scss">
	$blue: #2dafcf;
	$blue-hover: #248ca5;
	$white: #fff;
	$orange: #f77f00;

	.search-page {
		box-sizing: border-box;
		max-width: 1150px;
		margin: 0 auto;
		width: 100%;
		padding: 0 5px;

		button {
			border: 0;
			outline: 0;
			font-size: 14px;
			line-height: 20px;
			display: inline-block;
			width: 100%;
			text-transform: uppercase;
			font-weight: 600;
			padding: 6px 0;
		}

		button[type="submit"] {
			background: $blue;
			color: $white;

			&:hover {
				background-color: $blue-hover;
			}
		}
	}

	.input {
		display: block;
		box-sizing: border-box;
		padding: 7px 10px;
		font-size: 14px;
		width: 100%;
		margin-bottom: 10px;
		border: 1px solid #e1e1e1;
		outline: none;
		transition: border-color .4s;

		&:focus {
			border-color: $orange;
		}
	}

	.slide-fade-enter-active {
	  transition: transform .2s ease-in, opacity .4s linear;
	}
	.slide-fade-leave-active {
	  transition: transform .2s ease-out, opacity .4s linear;
	}
	.slide-fade-enter, .slide-fade-leave-to {
	  transform: translateX(10px);
	  opacity: 0;
	}
</style>
