<template>
  <div
			class="sidebar"
			v-bind:class="isHidden ? 'hidden' : ''"
	>
		<form class="form" action="#" method="POST" v-on:submit.prevent="onSubmit">
			<button type="button" class="filters-toggle" @click="isHidden = !isHidden" name="button">
				<i class="fa fa-filter" aria-hidden="true"></i>
				FILTERS - VERFIJN RESULTATEN
				<i class="fa fa-chevron-down to-right" aria-hidden="true"></i>
			</button>
			<div class="wrapper box box--white">
				<div class="row">
					<div class="col-xs-12">
						<distance-filter
							v-bind:options="distanceFilter"
							v-bind:onChange="onChange"
						>
						</distance-filter>
						<filter-group
							v-for="filter, key in filters"
							:key="key"
							v-bind:options="filter"
							v-bind:name="key"
							v-bind:onChange="onChange"
							v-bind:activeFilters="activeFilters"
							>
						</filter-group>
					</div>
				</div>
			</div>
		</form>
  </div>
</template>

<script>
import FilterGroup from '@/components/filters/FilterGroup';
import DistanceFilter from '@/components/filters/DistanceFilter'

export default {
  name: 'sidebar',
	props: ['filters', 'activeFilters', 'onChange', 'distanceFilter'],
	components: {
		'filter-group': FilterGroup,
		'distance-filter': DistanceFilter
	},
	data() {
		return {
			isHidden: false
		}
	}
}
</script>

<style lang="scss" scoped>
	.sidebar {
		width: 100%;
		position: relative;
	}

	.filters-toggle {
		padding: 15px 30px 15px 20px;
		color: #fff;
		cursor: pointer;
		text-align: left;
		transition: background-color .4s;
		display: block;
		position: relative;
		width: auto;
		min-width: 100%;

		.to-right {
			display: block;
			position: absolute;
			right: 20px;
			top: 15px;
			transition: transform .4s;
		}
	}

	.hidden {
		padding-bottom: 0;

		.filters-toggle {
			background-color: #f77f00;
			margin-bottom: 0;

			.to-right {
				transform: rotate(180deg) translateY(-2px);
			}
		}

		.wrapper {
			visibility: hidden;
		}
	}
</style>
