<template lang="html">
	<div class="box view-switch">
		<router-link class="view-switch__anchor view-switch__anchor--list" :to="{ path: '/list', query: query}" replace>List</router-link>
		<router-link class="view-switch__anchor view-switch__anchor--map" :to="{ path: '/map', query: query}" replace>Map</router-link>
	</div>
</template>

<script>
export default {
	name: 'ViewSwitch',
	props: ['query']
}
</script>

<style lang="scss">
	.view-switch {
		padding-top: 0;
		border: 0;
		text-align: right;

		&__anchor {
			color: #333;
			font-size: 16px;
			display: inline-block;
			margin-right: 20px;
			text-decoration: none;
			transition: color .4s;
			position: relative;

			&:last-child {
				margin-right: 0;
			}

			&:hover {
				color: #f77f00;
			}

			&.active-page {
				color: #f77f00;
			}

			&::before {
				display: inline-block;
				font: normal normal normal 1.6em/1 FontAwesome;
				text-align: center;
				vertical-align: middle;
				margin-right: 10px;
			}

			&--list::before {
				content: '\f0c9';
			}

			&--map::before {
				content: '\f0ac';
			}
		}
	}
</style>
