<template lang="html">
  <div class="active-filters">
		<div class="filter-actions-wraper" v-show="Object.keys(activeFilters).length > 0">
			<div class="row">
				<div class="col-sm-4">
					<button type="button" name="button" @click="removeFilters">Remove Filters</button>
				</div>
				<div class="col-sm-8 save-filters-wrapper" v-bind:class="saving ? 'saving' : ''">
					<div class="row flex-layout" v-bind:class="showEmailAddress ? 'show-mail' : ''">
						<div class="col-sm-6 to-shrink">
							<input class="input" type="email" @keypress.enter="saveEmail" placeholder="Type in your email address">
						</div>
						<div class="col-sm-6 to-grow">
							<button class="btn-save" type="button" :disabled="saved" name="button" @click="saveFilters">{{saved ? 'Saved': 'Save Filters'}}</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row flex-layout">
			<div class="col-sm-4 group" v-bind:class="key" v-for="filter, key in activeFilters" :key="key">
				<h5>{{key}}</h5>
				<span v-for="option in filter" :key="option" @click="onClick($event,option,key)">{{option.name}} <i class="fa fa-times"></i></span>
			</div>
		</div>
  </div>
</template>

<script>
export default {
	name: 'active-filters',
	props: ['activeFilters', 'onChange', 'reset', 'saved', 'onSave'],
	methods: {
		onClick(e, id, type) {
			let updatedObject = Object.assign({}, this.activeFilters);
			let index = updatedObject[type].indexOf(id);
			updatedObject[type].splice(index, 1);

			let currentData = {
				appliedFilters: updatedObject[type].slice(),
				type: type
			};

			this.onChange(currentData);
		},

		removeFilters() {
			this.reset()
		},

		saveFilters() {
			if (this.showEmailAddress) {
				this.saving = true;

				// emulate ajax Call
				setTimeout(() => {
					this.saving = false;
					this.showEmailAddress = false;
					this.onSave();
				}, 2000);

			}else {
				this.showEmailAddress = true;
			}
		}
	},
	data() {
		return {
			showEmailAddress: false,
			saving: false
		}
	}
}
</script>

<style lang="scss">
.active-filters {
	h5 {
		font-size: 14px;
		text-transform: uppercase;
		border-bottom: 1px solid #ccc;
		margin: 0 0 10px;
		font-weight: bold;
	}

	span {
		display: inline-block;
		padding: 2px 5px;
		color: #fff;
		background-color: #f77f00;
		border-radius: 2px;
		margin-right: 2px;
		margin-bottom: 2px;
		cursor: pointer;

		&:last-child {
			margin-right: 0;
		}
	}

	.group {
		margin-bottom: 20px;
		flex-grow: 1;

		&.edu_types {
			display: none;
		}
	}

	.filter-actions-wraper {
		margin: 20px 0 15px;
	}

	.filter-actions-wraper {
		button {
			color: #fff;
			cursor: pointer;
			transition: background-color .4s;

			&:hover {
				background-color: #f77f00;
			}
		}

		.btn-save {
			&:hover {
				background-color: darken(#dff0d8, 20%);
			}
			&[disabled] {
				opacity: .4;
				&:hover {
					background-color: buttonface;
					cursor: not-allowed;
				}
			}
		}
	}
}

.save-filters-wrapper {
	position: relative;

	&::after,
	&::before {
		content: '';
		position: absolute;
		display: block;
	}

	&::before {
		width: 100%;
		height: 0;
		left: 0;
		bottom: 0;
		opacity: 0;
		transition: height .4s, opacity .4s;
		background-color: #dff0d8;
	}

	&::after {
		width: 0;
		left: 0;
		bottom: 0;
		border-bottom: 4px solid #f77f00;
		z-index: 2;
		animation: loader 1s infinite;
		animation-play-state: paused;
		animation-delay: 0s;
		visibility: hidden;
	}

	&.saving {
		&::before {
			opacity: 1;
			height: 100%;
		}
		&::after {
			visibility: visible;
			animation-play-state: running;
		}
	}

	.to-grow,
	.to-shrink {
		transition: width .4s, opacity .3s;
	}

	.to-shrink {
		width: 0%;
		opacity: 0;
	}

	.to-grow {
		width: calc(100% - 10px);
	}

	.show-mail {
		.to-grow,
		.to-shrink {
			width: 50%;
			opacity: 1;
		}
	}

	.input {
		margin-bottom: 0;
	}
}

@keyframes loader {
	0% {
		width: 100%;
		left: 0;
	}
	25% {
		width: 40%;
		left: 60%;
	}
	50% {
		width: 60%;
		left: 0;
	}
	75% {
		width: 40%;
		left: 30%;
	}
	100% {
		width: 100%;
		left: 0;
	}
}
</style>
