<template lang="html">
	<div class="distance-filter">
		<h5>Distance from: {{city}}</h5>
		<input type="text" v-model="city" placeholder="Search for City" class="input">
		<range-slider class="slider" min="10" max="50" step="10" v-model="sliderValue" v-on:change="sliderUpdated"></range-slider>
		<div class="value">
			<strong>< {{sliderValue}} km</strong>
		</div>
	</div>
</template>

<script>
import RangeSlider from 'vue-range-slider';
import 'vue-range-slider/dist/vue-range-slider.css';

export default {
	name: 'distance-filter',
	props: ['options', 'onChange'],
	components: {
		'range-slider': RangeSlider
	},
	methods: {
		sliderUpdated(distance) {
			let name = Object.keys(this.options)[0];
			console.log(distance);
			let currentData = {
				appliedFilters: [{id: distance * 0.1, name: "Weekendwerk"}],
				type: name
			};
			this.onChange(currentData)
		}
	},
	data() {
		return {
			sliderValue: 50,
			city: "Amsterdam"
		}
	}
}
</script>

<style lang="scss">
$orange: #f77f00;
.hidden {
	.distance-filter {
		transition-delay: 0s;
		transform: translateX(-15px);
		opacity: 0;
	}
}

.distance-filter {
	margin-bottom: 20px;
	opacity: 1;
	transform: translateX(0);
	transition: opacity .4s, transform .4s;
	transition-delay: .1s;

	.range-slider {
		box-sizing: border-box;
		width: 100%;
	}

	.range-slider-fill {
		background-color: $orange;
	}

	.range-slider-knob {
		background: transparent;
		border: 0;
		box-shadow: none;

		&::before,
		&::after {
			content: '';
			display: block;
			position: absolute;
			left: 0;
			top: 0;
			border-radius: 100%;
			width: 100%;
			height: 100%;
			box-sizing: border-box;
		}

		&::before {
			background-color: #fff;
			z-index: 3;
			border: 1px solid #e1e1e1;
		}

		&::after {
			z-index: 1;
			box-shadow: 0 0 0 0 rgba($orange, 0.5);
			transition: box-shadow .4s;
		}
		&:hover {
			&:after {
				box-shadow: 0 0 3px 3px rgba($orange, .5);
			}
		}
	}

	h5 {
		font-size: 14px;
		text-transform: uppercase;
		border-bottom: 1px solid #ccc;
		margin: 0 0 10px;
		font-weight: bold;
	}

	.value {
		font-size: 1em;
		text-align: center;
		color: $orange;
	}
}
</style>
