<template>
  <div class="filter-group">
		<h5>{{name}}</h5>
		<ul>
			<li v-for="option in options" :key="option">
				<input type="checkbox" :value="option.id" :id="name + option.id" v-on:change="changeFilters(name,option)" :checked="isChecked(name,option.id)" />
				<label :for="name + option.id">{{option.name}} <span class="counter">{{option.count}}</span></label>
			</li>
		</ul>
  </div>
</template>

<script>
export default {
  name: 'filterGroup',
	props: ['options', 'activeFilters', 'name', 'onChange'],
	methods: {
		changeFilters(type, option) {
			let updatedObject = Object.assign({}, this.activeFilters);

			if(updatedObject[type] == undefined) {
				updatedObject[type] = Array();
				updatedObject[type].push({name: option.name, id: option.id})
			}else {
				let found = false;
				let index = 0;

				updatedObject[type].map((obj, i) => {
					if(obj.id === option.id) {
						found = true;
						index = i;
					}
				})

				if (found) {
					updatedObject[type].splice(index, 1);
				}else {
					updatedObject[type].push({name: option.name, id: option.id});
				}
			}

			let currentData = {
				appliedFilters: updatedObject[type],
				type: type
			};

			this.onChange(currentData);
		},
		isChecked(type, id) {
			if (this.activeFilters[type] === undefined) {
				return false;
			}

			let found = false;

			this.activeFilters[type].map((obj) => {
				if(obj.id === id) found = true;
			})

			return found;
		}
	}
}
</script>

<style lang="scss">
	$orange: #f77f00;

	.hidden .filter-group {
		li {
			transition-delay: 0s;
			opacity: 0;
			transform: translateX(-10px);
		}
	}

	.filter-group {
		padding: 0;
		margin-bottom: 20px;

		h5 {
			font-size: 14px;
			text-transform: uppercase;
			border-bottom: 1px solid #ccc;
			margin: 0 0 10px;
			font-weight: bold;
		}

		ul {
			text-align: left;
			list-style: none;
			padding: 0;
			margin: 0;
		}

		li {
			position: relative;
			display: block;
			transition: opacity .4s, transform .4s;;
			transition-delay: .1s;
			opacity: 1;
			margin-bottom: 5px;

			&:after {
				content: '';
				display: block;
				clear: both;
			}
		}

		label {
			position: relative;
			padding-left: 35px;
			padding-right: 25px;
			box-sizing: border-box;
			width: 100%;
			display: block;
			cursor: pointer;

			span {
				position: absolute;
				right: 0;
				top: 0;
			}

			&::before {
				content: '';
				display: block;
				position: absolute;
				left: 0;
				top: 3px;
				width: 14px;
				height: 14px;
				border: 1px solid #e1e1e1;
				border-radius: 2px;
				transition: background-color .2s, border-color .2s;
			}
		}
		input[type="checkbox"] {
			display: none;

			&:checked + label {
				&::before {
					background-color: $orange;
					border-color: $orange;
				}
			}
		}

		.counter {
			display: inline-block;
			background-color: rgba($orange, .8);
			color: #fff;
			float: right;
			border-radius: 2px;
			font-weight: bold;
			padding: 3px 5px;
			line-height: 1;
		}
	}

</style>
