<template lang="html">
  <div class="keyword-filter">
  	<input type="text" class="input" v-on:keypress.enter="refineResults" placeholder="Filter by word">
  </div>
</template>

<script>
export default {
	name: 'keyword-filter',
	props: ['onSubmit'],
	methods: {
		refineResults(e) {
			this.onSubmit(e.target.value)
		}
	}
}
</script>

<style lang="scss">
.keyword-filter {
	.input {
		font-size: 16px;
		line-height: 20px;
		padding: 5px 10px;
		margin-bottom: 0;
	}

	+ .active-filters .group {
		margin-top: 20px;
	}
}
</style>
