<template>
  <div id="app" class="app">
    <search-page></search-page>
  </div>
</template>

<script>
import SearchPage from '@/components/SearchPage';

export default {
  name: 'app',
	components: {
		'search-page': SearchPage
	}
}
</script>

<style lang="scss">

body {
	margin: 0;
	padding: 0;
}

.app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
	background-color: #f4f4f4;
	padding: 20px 0;
}

.box {
	border: 1px solid #e0e0e0;
	box-sizing: border-box;
	color: #333;
	padding: 20px;

	&--white {
		background-color: #fff;
	}

	&--light-orange {
		background-color: #fff9f3;
		border-left: 3px solid #f77f00;
	}
}

.row {
	margin-left: -5px;
	margin-right: -5px;
	width: calc(100% + 10px);

	&:after {
		display: block;
		content: '';
		clear: both;
	}
}

*[class*="col"] {
	padding-left: 5px;
	padding-right: 5px;
	box-sizing: border-box;
	float: left;
	width: 100%;
}

.col {
	&-sm-4 {
		@media(min-width: 768px) {
			width: 33.33%;
		}
	}
	&-sm-3 {
		@media(min-width: 768px) {
			width: 25%;
		}
	}

	&-sm-6 {
		@media(min-width: 768px) {
			width: 50%;
		}
	}
	&-sm-8 {
		@media(min-width: 768px) {
			width: 66.66%;
		}
	}
	&-sm-9 {
		@media(min-width: 768px) {
			width: 75%;
		}
	}
}

.flex-layout {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: stretch;
}
</style>
