<template>
	<div class="map-search">
		<gmap-map :center="center" :zoom="8" :options="options">
			<gmap-info-window :options="infoOptions" :position="infoWindowPos" :opened="infoWinOpen" :content="infoContent" @closeclick="infoWinOpen=false"></gmap-info-window>
			<gmap-marker
			v-for="m, key in getMarkerData()"
			:position="m.position"
			:icon="m.icon"
			:clickable="true"
			:draggable="false"
			:key="key"
			@click="showInfo(m, key)"
			></gmap-marker>
		</gmap-map>
	</div>
</template>

<script>
import * as VueGoogleMaps from 'vue2-google-maps';
import Vue from 'vue';


Vue.use(VueGoogleMaps, {
	load: {
		key: 'AIzaSyA1IMiXOLHqX3RnS2RyeNtKHJmL3ir08bE',
		// v: '3.27', //version number,
		// libraries: ['places'] //if you need places input
	},
})


export default {
	name: 'MapSearch',
	props: ['items'],
	methods: {
		showInfo(marker, idx) {
			this.infoWindowPos = marker.position;
			this.infoContent = marker.infoText;

			if (this.currentMidx == idx) {
        this.infoWinOpen = !this.infoWinOpen;
      } else {
        this.infoWinOpen = true;
        this.currentMidx = idx;
      }
		},

		getMarkerData() {
			let markers = [];

			this.items.map((post, index) => {

				post._source.locations.map((location) => {
					let link = '<a href="http://example.com" target="_blank">' + post._source.title + '</a>';
					let jobLocation = {
						position: {
							lat: parseFloat(location.lat),
							lng: parseFloat(location.lon)
						},
						icon: 'http://www.youngcapital.nl/public_images/Image/html-mails/access-master/map_pin.png',
						infoText: link
					};
					markers.push(jobLocation)
				})
			});

			return markers;
		},

		getMapStyling() {
			return [
			  {
			    "elementType": "geometry",
			    "stylers": [
			      {
			        "color": "#ebe3cd"
			      }
			    ]
			  },
			  {
			    "elementType": "labels.text.fill",
			    "stylers": [
			      {
			        "color": "#523735"
			      }
			    ]
			  },
			  {
			    "elementType": "labels.text.stroke",
			    "stylers": [
			      {
			        "color": "#f5f1e6"
			      }
			    ]
			  },
			  {
			    "featureType": "administrative",
			    "elementType": "geometry.stroke",
			    "stylers": [
			      {
			        "color": "#c9b2a6"
			      }
			    ]
			  },
			  {
			    "featureType": "administrative.land_parcel",
			    "elementType": "geometry.stroke",
			    "stylers": [
			      {
			        "color": "#dcd2be"
			      }
			    ]
			  },
			  {
			    "featureType": "administrative.land_parcel",
			    "elementType": "labels.text.fill",
			    "stylers": [
			      {
			        "color": "#ae9e90"
			      }
			    ]
			  },
			  {
			    "featureType": "landscape.natural",
			    "elementType": "geometry",
			    "stylers": [
			      {
			        "color": "#dfd2ae"
			      }
			    ]
			  },
			  {
			    "featureType": "poi",
			    "elementType": "geometry",
			    "stylers": [
			      {
			        "color": "#dfd2ae"
			      }
			    ]
			  },
			  {
			    "featureType": "poi",
			    "elementType": "labels.text.fill",
			    "stylers": [
			      {
			        "color": "#93817c"
			      }
			    ]
			  },
			  {
			    "featureType": "poi.park",
			    "elementType": "geometry.fill",
			    "stylers": [
			      {
			        "color": "#a5b076"
			      }
			    ]
			  },
			  {
			    "featureType": "poi.park",
			    "elementType": "labels.text.fill",
			    "stylers": [
			      {
			        "color": "#447530"
			      }
			    ]
			  },
			  {
			    "featureType": "road",
			    "elementType": "geometry",
			    "stylers": [
			      {
			        "color": "#f5f1e6"
			      }
			    ]
			  },
			  {
			    "featureType": "road.arterial",
			    "elementType": "geometry",
			    "stylers": [
			      {
			        "color": "#fdfcf8"
			      }
			    ]
			  },
			  {
			    "featureType": "road.highway",
			    "elementType": "geometry",
			    "stylers": [
			      {
			        "color": "#f8c967"
			      }
			    ]
			  },
			  {
			    "featureType": "road.highway",
			    "elementType": "geometry.stroke",
			    "stylers": [
			      {
			        "color": "#e9bc62"
			      }
			    ]
			  },
			  {
			    "featureType": "road.highway.controlled_access",
			    "elementType": "geometry",
			    "stylers": [
			      {
			        "color": "#e98d58"
			      }
			    ]
			  },
			  {
			    "featureType": "road.highway.controlled_access",
			    "elementType": "geometry.stroke",
			    "stylers": [
			      {
			        "color": "#db8555"
			      }
			    ]
			  },
			  {
			    "featureType": "road.local",
			    "elementType": "labels.text.fill",
			    "stylers": [
			      {
			        "color": "#806b63"
			      }
			    ]
			  },
			  {
			    "featureType": "transit.line",
			    "elementType": "geometry",
			    "stylers": [
			      {
			        "color": "#dfd2ae"
			      }
			    ]
			  },
			  {
			    "featureType": "transit.line",
			    "elementType": "labels.text.fill",
			    "stylers": [
			      {
			        "color": "#8f7d77"
			      }
			    ]
			  },
			  {
			    "featureType": "transit.line",
			    "elementType": "labels.text.stroke",
			    "stylers": [
			      {
			        "color": "#ebe3cd"
			      }
			    ]
			  },
			  {
			    "featureType": "transit.station",
			    "elementType": "geometry",
			    "stylers": [
			      {
			        "color": "#dfd2ae"
			      }
			    ]
			  },
			  {
			    "featureType": "water",
			    "elementType": "geometry.fill",
			    "stylers": [
			      {
			        "color": "#b9d3c2"
			      }
			    ]
			  },
			  {
			    "featureType": "water",
			    "elementType": "labels.text.fill",
			    "stylers": [
			      {
			        "color": "#92998d"
			      }
			    ]
			  }
			]
		}
	},
	data() {
		let markers = this.getMarkerData();
		let styling = this.getMapStyling();

    return {
			options: {
				maxZoom: 14,
				minZoom: 8,
				styles: styling
			},
			styling: styling,
      center: {lat: 52.3745291, lng: 4.7585319},
			infoContent: '',
      infoWindowPos: {
        lat: 0,
        lng: 0
      },
      infoWinOpen: false,
      currentMidx: null,
      //optional: offset infowindow so it visually sits nicely on top of our marker
      infoOptions: {
				maxWidth: 150,
        pixelOffset: {
          width: 0,
          height: -30
        }
      },
			markers: markers
    }
  },
	watch: {
	  '$route'(to, from) {
	    // Call resizePreserveCenter() on all maps
	    Vue.$gmapDefaultResizeBus.$emit('resize')
	  }
	}
}
</script>

<style lang="scss">
	.map-search {
		width: 100%;
		height: 100vh;
		position: relative;

		.vue-map-container {
			position: absolute;
			display: block;
			width: 100%;
			height: 100%;
			left: 0;
			top: 0;
		}

		a {
			font-size: 14px;
			color: #2dafcf;
			text-decoration: none;
			border-bottom: 2px solid transparent;
			transition: color .4s;

			&:hover {
				color: #f77f00;
			}
		}
	}
</style>
